.copybutton_box {
    padding-left: 6px;
}
.copyicon {
    color: #757575;
}
.copyicon:hover {
    cursor: pointer;
    color: #9e9e9e;
}
.copyicon:active {
    color: #bdbdbd;
}
.iconlabel {
    margin: 0;
    padding-top: 1px;
    color: #424242;
    font-size: smaller;
}