.streaming_package {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 8px;
}
.streaming_package:last-child {
    margin-right: 0px;
    border-right: none;
}

.streaming_box {
    display: flex;
    padding-left: 0px;
    justify-content: center;
}

.streaming {
    padding-right: 8px;
    list-style: none;
}

.flatrate {
    padding: 0px 12px;
    border-right: 1px dashed #b0bec5;
}

.streaming_title {
    margin-top: 0px
}

.rent {
    padding: 0px 12px;
    border-right: 1px dashed #b0bec5;
}

.buy {
    margin-right: 24px;
    padding: 0px 12px;
}

.no_streaming {
    color: #bdbdbd;
}