.tv_info {
    background-color: #eceff1;
    display: flex;
    flex-wrap: nowrap;
    padding: 32px 40px;
    align-items: center;
    
}
.poster_box {
    width: 300px;
    height: 450px;
}
.poster {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}
/* .description_wrapper {
    /* flex-grow: 1; */
/* } */
.description_box {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    /* background-color: green; */
}
.description {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.title_box{
    display: flex;
    align-items: baseline;

}
.title{
    margin-top: 0;
}
.copybutton_box {
    padding-left: 6px;
}
.copyicon {
    color: #757575;
}
.copyicon:hover {
    cursor: pointer;
    color: #9e9e9e;
}
.copyicon:active {
    color: #bdbdbd;
}

.iconlabel {
    margin-top: 0;
    padding-top: 1px;
    color: #424242;
    font-size: smaller;
}

.overview_header {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}


.streaming_package {
    display: flex;
    flex-wrap: wrap;
    background-color: #eceff1;
    padding: 16px 8px;
}
.streaming_package:last-child {
    margin-right: 0px;
    border-right: none;
}

.flatrate {
    padding: 0px 12px;
    border-right: 1px dashed #b0bec5;
}

.streaming_title {
    margin-top: 0px
}
.streaming_header {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.streaming_box {
    display: flex;
    padding-left: 0px;
    justify-content: center;
}

.streaming {
    padding-right: 8px;
    list-style: none;
}

.provider_img {
    border-radius: 4px;
}

.rent {
    padding: 0px 12px;
    border-right: 1px dashed #b0bec5;
}

.buy {
    margin-right: 24px;
    padding: 0px 12px;
}

.no_streaming {
    color: #bdbdbd;
}
