.watches_holder {
   margin: 16px auto;
   max-width: 1200px;
   background-color: #e3f2fd;
}
.watches_tabs_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0;
    margin: 0;
}
.watches_tab {
    width: calc(100% / 3);
    height: 100%;
    list-style: none;
    text-align: center;
    border-right: 1px solid #ffff;
    font-size: 24px;
    padding: 8px 16px;
    margin: 0;
}
.watches_tab:last-child {
    border-right: none;
}

.watches_tab_active {
    font-weight: 400;
}
.watches_tab_not_active {
    background-color: #eeeeee;
    font-weight: 350;
}
.watches_tab_not_active:hover {
    cursor: pointer;
    opacity: 0.75;
}
.watches_box {
    padding: 16px 32px;
    max-height: 850px;
    overflow-y: scroll;

}